<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Portfolio
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet", href="./vendor/dist/magnific-popup.css")
        link(rel="stylesheet", href="./vendor/dist/owl.carousel.min.css")
        link(rel="stylesheet", href="./vendor/dist/owl.theme.default.min.css")
        link(rel="stylesheet" href="./css/styles.css")
    body

        include ../layout/navbar
        include ../layout/header

        section#About.about
            .container
                .row
                    figure.col-lg-6.col-md-12
                        img.img-fluid(src="./img/backgrounds/about-us.png", alt="about image")
                    article.col-lg-6.col-md-12.about__article
                        h3.about__title.text-uppercase
                            span let me 
                            span introduce 
                            span myself
                        div.about__text--wrapper
                            p.about__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ab a dolore magni delectus dolores nihil alias reprehenderit deserunt aspernatur.
                            p.about__text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati molestias sed quas praesentium assumenda doloremque dolore nemo quo labore nostrum quia facilis, a dolores voluptatum accusamus consectetur nisi. Eligendi libero voluptatem fugit, perspiciatis quam doloremque autem dolorem.
                        button.btn.button-primary.button.text-uppercase.mr-4(type='button') download cv

        section#Clients.clients
            .container
                .row
                    section.clients__logos.col-lg-6.col-md-12
                        -const logos = [1, 2, 3, 4, 5, 6, 7, 8, 9]
                        each logo in logos
                            figure.clients__logo
                                img(src=`./img/brands/logo${logo}.png`, alt="brand logo")
                    section.clients__exp.col-lg-6.col-md-12
                        .clients__contact--wrapper.d-flex.flex-column.justify-content-space-between
                            .clients__info.d-flex
                                h4.clients__info--heading1 10
                                h4.clients__info--heading2.text-uppercase
                                    span years 
                                    span experience 
                                    span working 
                            .clients__contact.d-flex
                                div.clients__contact--icon: i.fas.fa-phone-alt.fa-3x
                                div.clients__contact--infoWrapper
                                    p: a.text-uppercase(href="#") call now
                                    span (+91)-800-555-4986

        section#Services.services
            .container
                .services__heading.text-center
                    h2.services__title.text-uppercase services offers
                    p.services__info.light-p.py-4 There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
                .row
                    -const service1 = {icon: 's1', heading: 'web developer', info: "Some quick example text to build on the card title and make up the bulk of the card's content."}
                    -const service2 = {icon: 's2', heading: 'ui/ux', info: "Some quick example text to build on the card title and make up the bulk of the card's content."}
                    -const service3 = {icon: 's3', heading: 'web design', info: "Some quick example text to build on the card title and make up the bulk of the card's content."}
                    -const service4 = {icon: 's4', heading: 'seo optimize', info: "Some quick example text to build on the card title and make up the bulk of the card's content."}
                    -const services = [service1, service2, service3, service4]
                    each service in services
                        .col-lg-3.col-md-6.col-sm-12
                            section.services__card.mx-auto.d-flex.flex-column.align-items-center.text-center
                                figure.services__card--icon
                                    img.services__card--icon-img(src=`./img/services/${service.icon}.png`, alt="service icon")
                                h4.services__card--heading.text-uppercase #{service.heading}
                                p.services__card--info.light-p.py-2 #{service.info}

        section#Portfolio.portfolio
            .container
                .portfolio__heading
                    h2.portfolio__heading--1.text-uppercase recently done projects
                    h2.portfolio__heading--2.text-uppercase quality work
                div.portfolio__button-group
                    -const buttons = ['all', 'popular', 'latest', 'following', 'upcoming']
                    each btn in buttons
                        if btn ==='all'
                            button#btn1.active.btn.portfolio__btn.text-uppercase(data-filter='*') #{btn}
                        else
                            button.btn.portfolio__btn.text-uppercase(data-filter=`.${btn}`) #{btn}
                -const project1 = {img: 'p1', title: 'minimal design', sort: 'latest'}
                -const project2 = {img: 'p2', title: 'paint wall', sort: 'popular'}
                -const project3 = {img: 'p3', title: 'female light', sort: 'popular'}
                -const project4 = {img: 'p4', title: 'fourth air', sort: 'upcoming'}
                -const project5 = {img: 'p5', title: 'together sign', sort: 'following'}
                -const project6 = {img: 'p6', title: 'multiple fawn', sort: 'upcoming'}
                -const project7 = {img: 'p7', title: 'green heaven', sort: 'following'}
                -const project8 = {img: 'p8', title: 'camera lens', sort: 'upcoming'}
                -const project9 = {img: 'p9', title: 'fly male', sort: 'following'}
                -const projects = [project1, project2, project3, project4, project5, project6, project7, project8, project9]
                .row.grid
                    each project in projects
                        .col-lg-4.col-md-6.col-sm-12.portfolio__project.grid-item(class=`${project.sort}`)
                            .portfolio__project-card
                                figure.portfolio__project--card-thumb
                                    a.portfolio__popupLink(href=`./img/portfolio/${project.img}.jpg`): img.img-fluid(src=`./img/portfolio/${project.img}.jpg`, alt="portfolio project")
                                .portfolio__project--card-info
                                    h4.portfolio__project--card-title.text-uppercase #{project. title}
                                    p.light-p.text-capitalize #{project.sort}, portfolio

        section#Blog.blog
            .container
                .blog__heading.text-center
                    h2.blog__heading--title.text-uppercase clients say about me
                    p.blog__heading--info.py-4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, deleniti recusandae. Esse incidunt rem repellendus ab voluptates maxime? Nemo, numquam!
                .carousel: .owl-carousel.owl-theme.blog__slider
                    -const comment1 = {img: 't1', name: 'john martin', comment: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum necessitatibus iure veniam magni nam laboriosam vero in voluptates.'}
                    -const comment2 = {img: 't2', name: 'mac hill', comment: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum necessitatibus iure veniam magni nam laboriosam vero in voluptates.'}
                    -const comment3 = {img: 't1', name: 'john martin', comment: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum necessitatibus iure veniam magni nam laboriosam vero in voluptates.'}
                    -const comment4 = {img: 't2', name: 'mac hill', comment: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum necessitatibus iure veniam magni nam laboriosam vero in voluptates.'}
                    -const comment5 = {img: 't1', name: 'john martin', comment: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum necessitatibus iure veniam magni nam laboriosam vero in voluptates.'}
                    -const comment6 = {img: 't2', name: 'macc hill', comment: 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum necessitatibus iure veniam magni nam laboriosam vero in voluptates.'}
                    -const comments = [comment1, comment2, comment3, comment4, comment5, comment6]
                    each comment in comments
                        .row.blog__slider-row
                            figure.p-4.col-lg-4.col-md-12.blog__slider--pic
                                img.img-fluid(src=`./img/testimonials/${comment.img}.jpg`, alt="client picture")
                            article.pt-4.col-lg-8.col-md-12.blog__slider--infoWrapper
                                h4.blog__slider--name.text-uppercase #{comment.name}
                                p.light-p.blog__slider--comment #{comment.comment}

        include ../layout/form.pug
        include ../layout/footer.pug

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js")
        script(src="./vendor/dist/jquery.magnific-popup.min.js")
        script(src="./vendor/dist/owl.carousel.min.js")
        script(src="./js/index.js")